<!DOCTYPE html>
<html>

<head>
    <title>웹시스템개발2: Report 1</title>
</head>

<body>
    <form id="form" action="/users" method="get">
        <button style="width: 200px" type="submit">전체 학생 조회</button>
    </form>
    <form id="form" action="/create" method="get">
        <button style="width: 200px" type="submit">학생 정보 추가</button>
    </form>
    <form id="form" action="/read" method="get">
        <button style="width: 200px" type="submit">학생 정보 조회</button>
    </form>
    <form id="form" action="/update" method="get">
        <button style="width: 200px" type="submit">학생 정보 수정</button>
    </form>
    <form id="form" action="/delete" method="get">
        <button style="width: 200px" type="submit">학생 정보 삭제</button>
    </form>
</body>
