<!DOCTYPE html>
<html>

<head>
    <title>NodeJS: {{title}}</title>
</head>

<body>

    <form  id="form" action="/movie" method="get" enctype="multipart/form-data">
        <br><br>
        <button style="width: 100px" type="submit">영화</button>
    </form>

    <p>
        API page<br>
        <a href="http://localhost:{{port}}/movie">http://localhost:{{port}}/movie</a><br>
    </p>

    <p>
        Info page<br>
        <a href="http://localhost:{{port}}/users">http://localhost:{{port}}/users</a><br>
        <a href="http://localhost:{{port}}/comments">http://localhost:{{port}}/comments</a><br>
        <a href="http://localhost:{{port}}/data">http://localhost:{{port}}/data</a>
    </p>

    <p>
        User page<br>
        <a href="http://localhost:{{port}}/user/">http://localhost:{{port}}/user</a><br>
    </p>

    <p>
        Comment page<br>
        <a href="http://localhost:{{port}}/comment/">http://localhost:{{port}}/comment</a><br>
    </p>
</body>

</html>
