<!DOCTYPE html>
<html>

<head>
    <title>영화 페이지</title>
</head>

<body>
    영화<br><br>
    <form id="form" action="/movie/movieRank" method="get">
        <button style="width: 100px" type="submit">영화 순위</button>
    </form>
    <br>
    <form id="form" action="/movie/movieReserve" method="get">
        <button style="width: 100px" type="submit">예매하기</button>
    </form>
    <br>
    <form id="form" action="/movie/movieRead" method="get">
        <button style="width: 100px" type="submit">예매 조회</button>
    </form>
    <br>
    <form id="form" action="" method="post">
        영화후기 작성 <br>
        <input type="text" name="comment" placeholder="comment" /><br>
        <button type="submit">전송</button>
    </form>
    <br>
    <form id="form" action="/auth/logout" method="get">
        <button type="submit">뒤로가기</button>
    </form>
</body>
