<!DOCTYPE html>
<html>

<head>
    <title>예매 페이지</title>
    <script src="http://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        
    </script>
</head>

<body>
    영화 예매
    
    <br>
    <form id="form" action="/movie/movieReserve/reservation" method="post">
        좌석 선택(A1 ~ E5) :<br>
        <input type="text" name="movieName" placeholder="영화" />
        <button type="submit">전송</button>
    </form>
    <form id="form" action="/movie/movieCancel" method="get">
        <button type="submit">취소</button>
    </form>
</body>