<!DOCTYPE html>
<html>

<head>
    <title>NodeJS: {{title}}</title>
</head>

<body>
    <p>
        <form id="form" action="signUp/validation" method="post">
            회원가입<br>
            <input type="text" name="id" placeholder="ID" /><br>
            <input type="text" name="password" placeholder="Password" /><br>
            <input type="text" name="name" placeholder="Name" /><br>
            <input type="text" name="birth" placeholder="Birth" /><br>
            남자<input type="radio" name="gender" value="man" required/>
            여자<input type="radio" name="gender" value="woman"/><br>
            </div><br>
            <button type="submit">전송</button>
        </form>
</body>

</html>